@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .rothwood {
    font-family: "rothwood", serif;
    font-weight: 400;
    font-style: normal;
  }
  .rothwood-bold {
    font-family: "rothwood", serif;
    font-weight: 700;
    font-style: normal;
  }
  /* Slide in from the left */
.role-enter {
  opacity: 0;
  transform: translateX(-100%); /* Start from left outside */
}

/* Active state when sliding in */
.role-enter-active {
  opacity: 1;
  transform: translateX(0); /* Slide into place */
  transition: opacity 500ms ease-out, transform 500ms ease-out; /* Transition time for opacity and sliding */
}

/* Slide out to the left */
.role-exit {
  opacity: 1;
  transform: translateX(0); /* Keep it at its normal position initially */
}

/* Active state when sliding out */
.role-exit-active {
  opacity: 0;
  transform: translateX(-100%); /* Slide out to the left */
  transition: opacity 500ms ease-in, transform 500ms ease-in; /* Transition time for opacity and sliding out */
}
}
